/*
.widget .label {} -> Global label for all
.active-window-widget {} -> Styles specific to the active window widget
.clock-widget {} -> Styles specific to the clock widget
.cpu-widget {} -> Styles specific to the CPU widget
.memory-widget {} -> Styles specific to the memory widget
.weather-widget {} -> Styles specific to the weather widget
.komorebi-workspaces {} -> Styles specific to komorebi workspaces
.komorebi-active-layout {} -> Styles specific to komorebi active layout
.volume-widget {} -> Styles specific to the volume widget 
.apps-widget {} -> Styles specific to the apps widget
.power-menu-widget {} -> Styles for the power menu button widget
.power-menu-popup {} -> Styles for the power menu popup widget
.power-menu-popup > .button {} -> Styles for power buttons inside the popup 
.power-menu-popup > .button > .icon,
.power-menu-popup > .button > .label {} -> Styles for power buttons icons and labels inside the popup 
.media-widget {} -> Styles specific to the media widget
.github-widget {} -> Styles specific to the github widget
.language-widget {} -> Styles specific to the language widget
.disk-widget {} -> Styles specific to the disk widget
.taskbar-widget {} -> Styles specific to the taskbar widget
*/
* {
    font-size: 15px;
    color: #575279;
    font-weight: 600;
    font-family: "JetBrainsMono NFP";
    margin: 5 0;
    padding: 0;
}
.yasb-bar {
    padding: 0;
    margin: 0;
}
.widget {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #EFF1F5; /* rgba(18, 18, 18, 0.9); */
    padding: 0 8px;
    margin: 0 1;
}
.widget .label {
    padding: 0px 2px 0px 2px;
    
}
.widget .label.alt {
    padding: 0px 2px 0px 2px;
}


/* Workspaces */
.komorebi-workspaces {
    border: 1px solid #D20F39;
    margin-left: 5px;
    padding: 0px 2px 0px 2px;
}
.komorebi-workspaces .widget-container {}
.komorebi-workspaces .ws-btn {
    font-size: 16px;
    margin: 0 3px 0 3px;
    color: #D20F39;
    border: none;
}
.komorebi-workspaces .ws-btn:hover {
    color: #9E1130
}
.komorebi-workspaces .ws-btn.populated {
    color: #D20F39;
}
.komorebi-workspaces .ws-btn.populated:hover {
    color: #9E1130;
}
.komorebi-workspaces .ws-btn.active {}
.komorebi-workspaces .ws-btn.button-1 {}
.komorebi-workspaces .ws-btn.button-2 {}
.komorebi-workspaces .offline-status {
    color: #D20F39
}


/* Layout */
.komorebi-active-layout {
    border: 1px solid #FE640B;
    margin-left: 6px;
    padding: 0px 2px 0px 2px;
}
.komorebi-active-layout .widget-container {}
.komorebi-active-layout .label {
    color: #FE640B
}
.komorebi-active-layout .label:hover {
    color: #C25313
}


/* Apps */
.apps-widget {
    border: 1px solid #DF8E1D;
    margin-left: 6px;
	padding: 0 2px;
}
.apps-widget .widget-container {}
.apps-widget .widget-container .label { 
    color: #DF8E1D;
    font-size: 14px;
} 
.apps-widget .widget-container .label:hover { 
    color: #AD7321;
    font-size: 14px;
} 


/* Active Windows Title */
.active-window-widget {
    border: 1px solid #209FB5;
    margin-left: 6px;
    padding-right: -5px;
}
.active-window-widget .widget-container {}
.active-window-widget .widget-container .label {
    color: #209FB5;
}
.active-window-widget .widget-container .label:hover {
    color: #217C8C;
}
.active-window-widget .widget-container .label.alt {}
.active-window-widget .widget-container .icon {}


/* Media */
.media-widget {
    border: 1px solid #40A02B;
}
.media-widget .widget-container {}
.media-widget .label {
    color: #40A02B
}
.media-widget .label:hover {
    color: #377D28
}
.media-widget .label.alt {}
.media-widget .btn {
    padding: 0;
    margin: 0;
    max-width: 0;
 }
.media-widget .btn.disabled {}


/* RAM */
.memory-widget {
    border: 1px solid #8839EF;
}
.memory-widget .widget-container {}
.memory-widget .label {
    color: #8839EF
}
.memory-widget .label:hover {
    color: #6A31B4
}
.memory-widget .label.alt {}
.memory-widget .icon {}
.memory-widget .label.status-low {}
.memory-widget .label.status-medium {}
.memory-widget .label.status-high {}
.memory-widget .label.status-critical {}


/* CPU */
.cpu-widget {
    margin-left: 6px;
    border: 1px solid #D20F39;
}
.cpu-widget .widget-container {}
.cpu-widget .widget-container .label {
    color: #D20F39
}
.cpu-widget .widget-container .label:hover {
    color: #9E1130
}
.cpu-widget .widget-container .label.alt {}
.cpu-widget .widget-container .icon {}

/* Taskbar */
.taskbar-widget {
    margin-left: 6px;
}
.taskbar-widget .app-icon {}


/* Weather */
.weather-widget {
    margin-left: 6px;
    border: 1px solid #FE640B; 
}
.weather-widget .widget-container {}
.weather-widget .label {
    color: #FE640B
}
.weather-widget .label:hover {
    color: #C25313
}
.weather-widget .label.alt {}
.weather-widget .icon {}
.weather-widget .icon.cloudyDay {}
.weather-widget .icon.cloudyNight {} 
.weather-widget .icon.rainyDay {} 
.weather-widget .icon.rainyNight {} 
.weather-widget .icon.snowyIcyDay {} 
.weather-widget .icon.snowyIcyNight {} 
.weather-widget .icon.blizzard {} 
.weather-widget .icon.default {}


/* Language */
.language-widget {
    margin-left: 6px;
    border: 1px solid #DF8E1D;
}
.language-widget .widget-container {}
.language-widget .label {
    color: #DF8E1D
}
.language-widget .label:hover {
    color: #AD7321
}
.language-widget .label.alt {}
.language-widget .icon {}


/* Volume */
.volume-widget {
    margin-left: 6px;
    border: 1px solid #209FB5;
}
.volume-widget .widget-container {}
.volume-widget .label {
    color: #209FB5
}
.volume-widget .label:hover {
    color: #217C8C
}
.volume-widget .icon {
    color: #209FB5
}
.volume-widget .icon:hover {
    color: #217C8C
}


/* Clock */
.clock-widget {
    margin-left: 6px;
    margin-right: 5px;
    border: 1px solid #40A02B;
}
.clock-widget .widget-container {}
.clock-widget .widget-container .label {
    color: #40A02B
}
.clock-widget .widget-container .label:hover {
    color: #377D28
}
.clock-widget .widget-container .label.alt {}
.clock-widget .widget-container .icon {}

/* Dark Theme */

/* Workspaces */
*.dark .widget {
    background-color: #1E1E2E;
}
*.dark .komorebi-workspaces {
    border: 1px solid #F38BA8;
}
*.dark .komorebi-workspaces .ws-btn {
    color: #F38BA8;
}
*.dark .komorebi-workspaces .ws-btn:hover {
    color: #BD7286
}
*.dark .komorebi-workspaces .ws-btn.populated {
    color: #F38BA8;
}
*.dark .komorebi-workspaces .ws-btn.populated:hover {
    color: #BD7286;
}
*.dark .komorebi-workspaces .offline-status {
    color: #F38BA8
}


/* Layout */
*.dark .komorebi-active-layout {
    border: 1px solid #FAB387;
}
*.dark .komorebi-active-layout .label {
    color: #FAB387
}
*.dark .komorebi-active-layout .label:hover {
    color: #C49071
}


/* Apps */
*.dark .apps-widget {
    border: 1px solid #F9E2AF;
}
*.dark .apps-widget .widget-container .label { 
    color: #F9E2AF;
} 
*.dark .apps-widget .widget-container .label:hover { 
    color: #C5B590;
} 

/* Active Windows Title */
*.dark .active-window-widget {
    border: 1px solid #74C7EC;
}
*.dark .active-window-widget .widget-container .label {
    color: #74C7EC;
}
*.dark .active-window-widget .widget-container .label:hover {
    color: #629DB8;
}


/* Media */
*.dark .media-widget {
    border: 1px solid #A6E3A1;
}
*.dark .media-widget .label {
    color: #A6E3A1
}
*.dark .media-widget .label:hover {
    color: #88B484
}


/* RAM */
*.dark .memory-widget {
    border: 1px solid #CBA6F7;
}
*.dark .memory-widget .label {
    color: #CBA6F7
}
*.dark .memory-widget .label:hover {
    color: #A187C1
}


/* CPU */
*.dark .cpu-widget {
    border: 1px solid #F38BA8;
}
*.dark .cpu-widget .widget-container .label {
    color: #F38BA8
}
*.dark .cpu-widget .widget-container .label:hover {
    color: #BD7286
}


/* Weather */
*.dark .weather-widget {
    border: 1px solid #FAB387; 
}
*.dark .weather-widget .label {
    color: #FAB387
}
*.dark .weather-widget .label:hover {
    color: #C49071
}


/* Language */
*.dark .language-widget {
    border: 1px solid #F9E2AF;
}
*.dark .language-widget .label {
    color: #F9E2AF
}
*.dark .language-widget .label:hover {
    color: #C5B590
}


/* Volume */
*.dark .volume-widget {
    border: 1px solid #74C7EC;
}
*.dark .volume-widget .label {
    color: #74C7EC
}
*.dark .volume-widget .label:hover {
    color: #629DB8
}
*.dark .volume-widget .icon {
    color: #74C7EC
}
*.dark .volume-widget .icon:hover {
    color: #629DB8
}


/* Clock */
*.dark .clock-widget {
    border: 1px solid #A6E3A1;
}
*.dark .clock-widget .widget-container .label {
    color: #A6E3A1
}
*.dark .clock-widget .widget-container .label:hover {
    color: #88B484
}